.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 350px;
    left: 100px;
  }
  
  .baloon {
    position: absolute;
    left: 200px;
    z-index: 4;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 220px;
    top: 120px;
    z-index: 5;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 475px;
    top: 275px;
    z-index: 3;
  }